<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
</head>
<body>
    {{ yield | safe }}
    <script src="/scripts/{{ _target.alias }}.js"></script>
</body>
</html>
