<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <script src="/scripts/pekoe.js"></script>
</head>
<body>
    {{ yield | safe }}
</body>
</html>
